include ../mixins/mixins

.card 
  h1.card__title Finishing up
  p.card__subtitle Double-check everything looks OK before confirming.
  .card__cart
    .cart 
      .cart__option
        .cart__group 
          .cart__option--title Arcade (Monthly)
          a.cart__option--change(href="#") Change
        .cart__option--price $9/mo
      .cart__addons
  .card__total 
    .total 
      p.total__title
      p.total__result